<p>
  <%= link_to "Add a question", new_question_path%>
</p>

<% @questions.each do |q| %>
  <p>
    <strong>Question </strong>
    <%= q.question_text%>
    &emsp;
    <strong>Solution </strong>
    <%=q.solution%>
  </p>
<% end %>
