Capfile                   export-ignore
config/deploy/deploy.rb   export-ignore
config/deploy/            export-ignore
.gitattributes            export-ignore
doc/                      export-ignore
