<a href="#" class="toggle-hide-video"><i class='fa fa-arrow-down' aria-hidden='true'></i> Hide Video</a>
<div class='video-screen' style="display:none;">
  <!-- <iframe style="margin-left:40px;" width="940" height="580" src="https://www.youtube.com/embed/<%= lesson.video %>" frameborder="0" allowfullscreen></iframe> -->
</div>
<a href="#" class="toggle-video">Show Video</a>
