<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h5>Thanks for contacting our User Support Team! We received your ticket (#<a href=<%= @url %>> <%= @ticket_id%></a>) .</h5>
    <p>
      If you want to review your ticket or add additional comments, click the link below:
    </p>
    <p>
      <%= @url %>
    </p>
  </body>
</html>
