<section>
  <ul id="gallery">
    <li>
      <div class="div-top" style="background-color:#DE5C31;">
        Edexcel GCSE Maths
      </div>
      <div class ="div-bot">
        Data Analysis, Algebra, Geometry, Area, Shapes
      </div>
      <div class='div-links'>
        &emsp;<a href="#">Edit</a>&emsp;<a href="#">Delete</a>&emsp;<a href="#">Delete</a>
      </div>
    </li>
    <li>
      <div class="div-top" style="background-color:#DE5C31;">
        Edexcel GCSE Maths
      </div>
      <div class ="div-bot">
        Data Analysis, Algebra, Geometry, Area, Shapes
      </div>
      <div class='div-links'>
        &emsp;<a href="#">Edit</a>&emsp;<a href="#">Delete</a>&emsp;<a href="#">Delete</a>
      </div>
    </li>
    <li>
      <div class="div-top" style="background-color:#DE5C31;">
        Edexcel GCSE Maths
      </div>
      <div class ="div-bot">
        Data Analysis, Algebra, Geometry, Area, Shapes
      </div>
      <div class='div-links'>
        &emsp;<a href="#">Edit</a>&emsp;<a href="#">Delete</a>&emsp;<a href="#">Delete</a>
      </div>
    </li>
    <li>
      <div class="div-top">
        AQA A-level Maths
      </div>
    </li>
    <li>
      <div class="div-top">
        AQA GCSE Maths
      </div>
    </li>
  </ul>
</section>
