// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answered-questions {
  min-width: 900px;
}

.from-border-bottom {
  // border-style: solid;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.form-group {
  width: 30%;
  margin: 40px 0 15px 0;
}

.form-group textarea {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.form-group input[type=number] {
  width: 100%;
  padding: 5px 6px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  &:focus {
    border: 3px solid #555;
  }
}

.form-group select {
  width: 100%;
  padding: 3px 6px;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.form-group label {
  margin: 5px 0 5px 0;
}

.answer-right {
  float: right;
  width: 500px;
  margin: -120px 4% 0px;
}

.null-margin {
  margin: 0;
}
