// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answered-questions {
  min-width: 900px;
}

.from-border-bottom {
  // border-style: solid;
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.answer-right {
  float: right;
  width: 500px;
  margin: -120px 4% 0px;
}

.null-margin {
  margin: 0;
}
