 body {
   font-family: 'Open Sans', sans-serif;
   background-color: #E3E8E8;
   color: #999;
 }

 #wrapper {
   /*max-width:940px;*/
   min-width: 940px;
   max-width: 940px;
   margin: 0 auto;
   padding: 0 0%;
   /*background-color: blue;*/
 }

 a {
   text-decoration: none;
 }

 img {
   max-width:100%;
 }

 h3 {
   margin: 0 0 1em 0;
 }

 header {
   float:left;
   margin:0 0 30px 0;
   padding: 5px 0 0 0;
   width: 100%;
   background: #6ab47b;
   border-color:#599a68;
   border-bottom: 5px solid #599a68;
   margin-bottom:60px;
 }

 #site-title {
   text-align: center;
   margin: 0;
   float:left;
   margin-left:5%;
   text-align:left;
   width:35%;
 }

 h1 {
   font-family: 'Changa One', sans-serif;
   margin: 15px 0;
   font-size:3.5em;
   font-weight: normal;
   line-height: 0.8em;
   color: #fff;
 }

 h2 {
   font-size: 0.75em;
   margin: -5px 0 0;
   font-weight: normal;
   font-size:0.825em;
   margin-bottom: 20px;
 }

 nav {
   text-align:center;
   padding: 10px 0;
   margin: 50px 0 0;
   background:none;
   float:right;
   font-size: 1.5em;
   margin-right: 5%;
   text-align:right;
   width:55%;
 }

 nav ul {
   list-style: none;
   margin: 0 10px;
   padding: 0;
 }

 nav li {
   display:inline-block;
 }

 nav a {
   font-weight: 800;
   padding: 15px 10px;
 }

  nav a, nav a:visited {
    color: #fff;
  }

  nav a.selected, nav a:hover {
    color:#32673f;
  }

/*************** COURSES VIEW ***********************************/

 #courses-gallery {
   margin:0;
   padding:0;
   list-style: none;
 }

 #courses-gallery li {
   border-radius: 10px;
   float: left;
   width: 45%;
   margin: 2.5%;
   margin-bottom: 5%;
   margin-top: 0%;
   background-color: #fff;
   height: 14em;
   box-shadow: 4px 4px 2px #888888;
 }

 .course-top {
   padding: 5% 5% 5% 5%;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   min-width: 100%;
   max-width:100%;
   min-height: 30%;
   max-height: 30%;
   background-color: green;
   font-size: 1.7em;
   color: #fff;
   font-weight: 700;
   text-align: center;
   vertical-align: middle;
   line-height: 1.2em;
   text-decoration: none;
 }

 .course-bot {
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   color: black;
   min-width: 100%;
   max-width:100%;
   min-height: 70%;
   max-height: 70%;
   padding-top: 15%;
   padding-right: 5%;
   padding-bottom: 0%;
   padding-left: 5%;
   color: #615858;
   font-weight: 550;
   letter-spacing: 1px;
   line-height: 150%;
 font-size: 15pt;
 text-decoration: none;
 }

 .course-links {
   border-radius: 10px;
   box-shadow: 4px 4px 2px #888888;
   margin-top: 1%;
   padding: 1%;
   background-color: white;
   color: #fff;
 }

 .course-links a {
   color: grey;
   font-weight: 600;
   text-decoration: none;
 }

 .add-course {
   background-color:#fff;
   display: inline-block;
   padding: 2.5%;
   border-radius: 10px;
   margin: 2.5%;
   margin-bottom: 5%;
   margin-top: 10%;
   box-shadow: 4px 4px 2px #888888;
   font-size: 1.7em;
   color: grey;
   font-weight: 600;
   text-align: center;
   vertical-align: middle;
   line-height: 1.2em;
 }

 .add-course a {
   color: grey;
 }

/*************** COURSE UNITS VIEW ***********************************/

#course-units-gallery {
  margin:0;
  padding:0;
  list-style: none;
}

#course-units-gallery li {
  border-radius: 10px;
  float: left;
  width: 45%;
  margin: 2.5%;
  margin-bottom: 5%;
  margin-top: 0%;
  background-color: #fff;
  height: 14em;
  box-shadow: 4px 4px 2px #888888;
}

.unit-top {
  padding: 5% 5% 5% 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-width: 100%;
  max-width:100%;
  min-height: 30%;
  max-height: 30%;
  background-color: green;
  font-size: 1.7em;
  color: #fff;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2em;
}

.unit-bot {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  min-width: 100%;
  max-width:100%;
  min-height: 70%;
  max-height: 70%;
  padding-top: 15%;
  padding-right: 5%;
  padding-bottom: 0%;
  padding-left: 5%;
  color: #615858;
  font-weight: 550;
  letter-spacing: 1px;
  line-height: 150%;
font-size: 15pt;
}

.unit-links {
  border-radius: 10px;
  box-shadow: 4px 4px 2px #888888;
  margin-top: 1%;
  padding: 1%;
  background-color: white;
  color: #fff;
}

.unit-links a {
  color: grey;
  font-weight: 600;
}

.add-unit {
  background-color:#fff;
  display: inline-block;
  padding: 2.5%;
  border-radius: 10px;
  margin: 2.5%;
  margin-bottom: 5%;
  margin-top: 10%;
  box-shadow: 4px 4px 2px #888888;
  font-size: 1.7em;
  color: grey;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2em;
}

.add-unit a {
  color: grey;
}

 .course-name {
   /*display: inline-block;
   padding: 2.5%;
   border-radius: 10px;
   margin: 2.5%;
   margin-bottom: 5%;
   margin-top: 0%;
   font-size: 4em;
   color: grey;
   font-weight: 600;
   text-align: center;
   vertical-align: middle;
   line-height: 1.2em;*/
   display: inline-block;
   padding-left: 2%;
   margin-top: 0%;
   margin-left: 0%;
   margin-bottom: 2%;
   font-size: 2.5em;
   color: #63606E;
   font-weight: 600;
   text-align: center;
   vertical-align: middle;
   line-height: 1.2em;
 }

 .back {
   float:right;
   background-color:#fff;
   border-radius: 4px;
   padding: 0.75%;
   display: inline-block;
   margin-bottom: 1%;
   margin-top: 0%;
   box-shadow: 1px 1px 1px #888888;
   font-size: 2em;
   color: grey;
   font-weight: 600;
   text-align: center;
   vertical-align: middle;
   line-height: 1.2em;
 }

 .back a {
   color: grey;
 }

 .unit-name {
   display: inline-block;
   padding-left: 2%;
   margin-top: 0%;
   margin-left: 0%;
   font-size: 2.5em;
   color: #63606E;
   font-weight: 600;
   text-align: center;
   vertical-align: middle;
   line-height: 1.2em;
 }


 .topic-headings {
   float:right;
   width: 100%;
   background-color:#fff;
   display: inline-block;
   padding: 2%;
   padding-top: 2%;
   padding-bottom: 2%;
   border-radius: 5px;
   margin: 0%;
   margin-bottom: 1%;
   margin-top: 1%;
   box-shadow: 2px 2px 1px #888888;
   font-size: 2em;
 }

 .topic-headings h4 {
   padding: 0%;
   margin: 0%;
   padding-bottom: 1%;
   font-size: 0.6em;
   font-weight: 100;
   color: #63606E;
 }

 .topic-headings p {
   padding: 0%;
   margin: 0%;
   font-size: 1em;
   font-weight: 600;
   color: #63606E;
 }

 .crud-links {
   float:right;
   width: 98%;
   background-color:#fff;
   display: inline-block;
   padding: 0%;
   padding-top: 1%;
   padding-bottom: 1%;
   border-radius: 5px;
   margin: 2.5%;
   margin-bottom: 1%;
   margin-top: 0%;
   box-shadow: 4px 4px 2px #888888;
   /*font-size: 2em;
   border-radius: 10px;
   box-shadow: 10px 10px 5px #888888;
   margin-top: 1%;
   padding: 1%;
   background-color: white;
   color: #fff;*/
 }

 .crud-links a {
   color: #63606E;
   font-weight: 600;
   padding: 0%;
   margin: 0%;
 }

 .dark-grey {
   color: #63606E;
 }

.lesson-heading {
  color: #63606E;
  font-size: 1.8em;
  /*font-family: Arial, sans-serif;*/
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Georgia, serif;
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 2%;
  float:left;
  display: inline-block;
}

.question-div{
  float:left;
  display: inline-block;
  width:95%;
  color: #63606E;
  font-family: Georgia, serif;
}

.question-div p a{
  color: #10AD42;
}

.myButton {
	background-color:#159D1A;
	border-radius:11px;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:11px 10px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#2DE042;
}


.add-chapter {
  float: left;
  background-color:#fff;
  display: inline-block;
  padding: 2%;
  border-radius: 10px;
  margin: 0%;
  margin-bottom: 5%;
  margin-top: 2%;
  margin-left: -0.5%;
  box-shadow: 4px 4px 2px #888888;
  font-size: 1.7em;
  color: grey;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  line-height: 1.2em;
}

.add-chapter a {
  color: #63606E;
  margin:0%;
  padding: 0%;
}

#solution-latex {
  margin:2.5%;

  margin-left: 0%;

}


.back {
  background-color:#6ab47b;
  color: #fff;
  text-decoration: none;
}

/* nav link */
.back a, nav a:visited {
  background-color:#6ab47b;
  color: #fff;
  text-decoration: none;
}

/* selected nav link */
.back a.selected, nav a:hover {
  background-color:#6ab47b;
  color: #fff;
  text-decoration: none;
}
