@import "variables";

body {
  background-color: $grey-l-three;
  font-size: $base-font-size;
  color: $primary-grey;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 50px auto;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  position: relative;
  min-height: 80vh;
}

.flash-notice {
  width: 100%;
  max-width: 1024px;
  padding-top: 30px;
}
