// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.course-card-container {
  width: 48%;
  float: left;
  margin-top: 50px;
  position: relative;
}

.course-card {
  border-radius: 5px;
  // height: 350px;
  border: solid 3px $grey-l-three;
}

.course-card-background-1, .course-card-background-2 {
  height: 345px;
  position: absolute;
  display: block;
  border: solid 3px $grey-l-three;
  border-radius: 5px;
  background-color: $grey-l-four;
}

.course-card-background-1 {
  top: 10px;
  z-index: -1;
  width: 90%;
  margin: 0 5%;
}

.course-card-background-2 {
  top: 20px;
  z-index: -2;
  width: 80%;
  margin: 0 10%;
}

.course-card:hover {
  // transform: translate(-5px, -5px);
}

.course-top {
  height: 75px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.course-bot {
  padding: 35px;
  background-color: $grey-l-four;
  height: 200px;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.course-title {
  color: $primary-grey;
}

.course-name {
  font-size: $h6-size;
  color: $grey-d-three;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 12px 0 25px 0;
}

.course-desc {
  font-weight: lighter;
  color: $primary-grey;
  line-height: 25px;
  letter-spacing: 1px;
  font-size: 0.95em;
  height: 72px;
  overflow: hidden;
}

.course-module-text {
  position: absolute;
  top: 30px;
  left: 35px;
  color: white;
}

.circle {
  border-radius: 50%;
}

.module-circle-container {
  margin-left: 15px;
  position: absolute;
  top: 31px;
  left: 105px;
}

.module-circle {
  position: relative;
  background-color: white;
  height: 8px;
  width: 8px;
  display: inline-block;
  border: solid 2px white;
}

.progress-bar {
  width: 100px;
  background-color: white;
  position: absolute;
  top: 30px;
  height: 10px;
  right: 75px;
  border-radius: 15px;
}

.progress-indicator {
  border-radius: 15px;
  // border-top-left-radius: 15px;
  // border-bottom-left-radius: 15px;
  height: 10px;
  width: 60%;
  background-color: $grey-l-two;
}

.progress-level {
  width: 50px;
  position: absolute;
  top: 27px;
  right: 11px;
  color:white;
}

.course-start-button {
  position: absolute;
  bottom: 30px;
  border: none;
  height: 38px;
  width: 90px;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  font-weight: 500;
  pointer-events: none;
}

.course-card-container-stretched {
  width: 100%;
  margin: 35px 0;
}

.back-link {
  position: absolute;
}

.back-link{
  position: absolute;
  color: $grey-l-one;
  left:0%;
}

.thin-card {
  width: 40%;
  margin: 5%;
}

.crud-links {
  margin-top: 25px;
  color: black;
  width: 100%;
  height: 40px;
  background-color: $grey-l-four;
  line-height: 40px;
  border-radius: 5px;
}

.crud-links a {
  color: $grey-d-two;
}

.add-one {
  width: 1024px;
  margin: 35px 0;
}

.add-one a {
  color: $grey-d-two;
  margin: 35px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: $grey-l-four;
}
