@import "variables";

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  height: 80px;
  z-index: 2;
}

.nav-container {
  -webkit-box-shadow: 0 0 1px rgba(0,65,94,0.2);
  box-shadow: 0 0 1px rgba(0,65,94,0.2);
  z-index: 100;
  transition: height 600ms 0s ease;
  min-width: 960px;
  max-width: 1061px;
  margin: auto;
}

.nav-units-width {
  max-width: 1061px;
}

.home-link {
  float: left;
  height: 80px;
  line-height: 80px;
  letter-spacing: 1px;
  padding-left: 25px;
}

.beta-label {
  float: left;
  color: white;
  padding-top: 40px;
  padding-left: 10px;
}

.nav {
  float: left;
  height: 100%;
  margin-left: 30px;
}

.nav li {
  display: block;
  height: 80px;
  float: left;
  line-height: 80px;
  margin-right: 20px;
}

.nav li a {
  font-size: $h6-size;
}

.avatar {
  // position: relative;
  height: 50px;
  background-color: white;
  width: 50px;
  float: right;
  margin: 15px;
  border-radius: 50%;
  // right: -90%;
}

.jobs-review {
  float: left;
  margin: 25px 30px;
  color: #ff6c6c;
  border-radius: 5px;
  font-size: 20px;
  background: #EDEDED;
  padding: 5px;
  max-width: 15%;
  text-align: center;
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 3px 6px 0 rgba(0, 0, 0, 0.19) inset;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 3px 6px 0 rgba(0, 0, 0, 0.19) inset;
}
