@import "variables";

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: $primary-color;
  height: 80px;
  z-index: 2;
}

.home-link {
  float: left;
  height: 80px;
  line-height: 80px;
  letter-spacing: 1px;
  padding-left: 25px;
}

.beta-label {
  float: left;
  color: white;
  padding-top: 40px;
  padding-left: 10px;  
}

.nav {
  float: left;
  height: 100%;
  margin-left: 30px;
}

.nav li {
  display: block;
  height: 80px;
  float: left;
  line-height: 80px;
  margin-right: 20px;
}

.nav li a {
  font-size: $h6-size;
}

.avatar {
  height: 50px;
  background-color: white;
  width: 50px;
  float: right;
  margin: 15px;
  border-radius: 50%
}
