// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require interact/bootstrap.min.css
 *= require interact/external.css
 *= require interact/style.css.scss
 *= require font-awesome
 *= require_self
 */

// .featured::before {
//   background: #e9e2e2;
//   bottom: 0;
//   content: "";
//   left: 50%;
//   margin-left: -1px;
//   position: absolute;
//   right: 50%;
//   top: 0;
//   width: 2px;
// }

@import "variables";

.right {
  margin-left: 35px;
}

.shade {
  background-color: $grey-shade !important;
}

.testimonial-user {
  width: 50px;
  height: 50px;
  float: left;
}

.list-content {
  width: 100%;
  line-height: normal;
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  float: left;
}

.list-check {
  font-size: 35px;
  line-height: 1;
  text-transform: uppercase;
  color: #52e79d;
  background: -webkit-linear-gradient(#52e79d 0%, #08d377 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  float: right;
}

.main-icon {
  display: inline-block;
  float: left;
}

.guarantee-icon {
  display: inline-block;
}

.about-heading {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.about-heading p {
  display: inline-block;
  height: 30px;
  position: absolute;
  bottom: 50px;
  right: 60px;
}

.about-row {
  height: 320px;
}

.about-description {
  padding: 20px;
  justify-content: center;
  height: 100%;
  text-align: justify;
  vertical-align: middle;
  line-height: 90px;
}

.about-description p {
  font-size: 14pt;
  color: $primary-d-three;
}

.about-header {
  font-size: 22pt;
  margin-bottom: 30px;
  font-style: bold;
  color: $primary-d-two;
}

.about-icon {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
