// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.question {
  margin: 50px auto;
}

.question, .question h6, .question p {
  width: 100%;
}

.question, .question-content, .question-solution-text {
  color: $grey-d-two;
}

.experience, .level {
  width: 20%;
  float: left;
  // padding: 10px;
}

.question-choices a {
  color: green;
}

.question-choices {
  clear: both;
  padding-left: 40px;
  padding-top: 20px;
}

.question-content, .question-solution-text {
  padding: 15px 0px;
}

.question-choices li {
  padding: 5px;

}

.streak-mtp, .streak-mtp-text {
  color: green;
}

.student-answer {
  margin: 10px 0;
}

.question-text-input-box, .solution-text-input-box {
  height: 400px;
  width: 400px;
}
