// Place all the styles related to the units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.chapter-collapsable {
  width: 100%;
  color: $grey-d-one;
}

.topic-headings {
  width: 100%;
  background-color: $grey-l-four;
  padding: 20px 35px;
  max-width: 954px;
  border-radius: 5px;
  margin-top:30px;
}

.chapter-container {
  width: 100%;
  max-width: 1024px;
}

.chapter-info-container{
  width:50%;
  display: inline-block;
}

.progress-exp {
  float:right;
  margin-top: 8px;
  color: $primary-grey;
}


.chapter-number{
  color: $primary-grey;
  font-size: 0.9em;
}

.chapter-name{
  color: $grey-d-two;
  padding-top: 10px;
  font-size: $h4-size;
}

.lesson-headings, .topic-questions-headings {
  width: 88%;
  // width: 100%;
  background-color: $grey-l-four;
  padding: 15px 35px;
  max-width: 954px;
  border-radius: 5px;
  margin: auto;
  margin-top:20px;
}

.lesson-number {
  width: 10%;
  display: inline-block;
  color: $primary-grey;
}

.lesson-name {
  width: 50%;
  display: inline-block;
  color: $grey-d-two;
  font-size: $h6-size;
  letter-spacing: 0.8px;
}

.lesson-progress-exp {
  float:right;
  color: $primary-grey;
}

.video-screen {
  margin:auto;
  margin-top: 10px;
}

.question-container {
  width: 938px;
  margin: 20px auto;
}

.question-header {
  color: $grey-d-two;
  font-size: $h6-size;
}

.question-text {
  margin: 15px 0;
  color: $primary-grey;
  font-size: $base-font-size;
}

.question-choice {
  margin: 5px 0;
}

.solution-link {
  margin: 10px 0;
}

.question-result {
  margin: 5px 0;
}

.solution-link, .topic-solution-link {
  border: none;
  padding: 10px;
  background-color: $grey-l-four;
  border-radius: 5px;
  letter-spacing: 0.8px;
  color:$grey-d-two;
  margin:10px 0;
}

.question-result {
  margin:20px 0;
}

.solution-title {
  margin:10px 0;
  color: $grey-d-two;
  font-size: $h6-size;
}

.solution-text {
  margin:20px 0;
  margin-bottom: 30px;
}

.next-question, .topic-next-question {
  border: none;
  padding: 10px;
  background-color: $grey-l-four;
  border-radius: 5px;
  letter-spacing: 0.8px;
  color:$grey-d-two;
}

.request-more-questions {
  margin:10px 0;
  padding-top: 20px;
  color: green;
  font-size: $h6-size;
}


.question-text, .edit_question, .question-choice, .solution-text {
  color: $grey-d-two;
}

.toggle-video, .toggle-hide-video {
  color: black;
  padding: 10px 43px;
  margin-top: 20px;
  display: inline-block;
  color: $grey-l-one;
}
