// Place all the styles related to the units controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.topic-collapsable {
  width: 100%;
  color: $grey-d-one;
}

.topic-headings {
  width: 100%;
  background-color: $grey-l-four;
  padding: 20px 35px;
  max-width: 954px;
  border-radius: 5px;
  // box-shadow: 1px 1px 1px $grey-l-one;
}

.chapter-info-container {
  width:50%;
  display: inline-block;
}

.progress-exp {
  float:right;
  margin-top: 8px;
  color: $primary-grey;
}


.chapter-number {
  color: $primary-grey;
  font-size: 0.9em;
}

.chapter-name {
  color: $grey-d-two;
  padding-top: 10px;
  font-size: $h4-size;
}
